/* --------- Defaults------------ */

nav, 
header,
footer {
    display: block;
}

body{
    line-height: 1;
    margin: 0;
    background-color: #eeee;
}



label{
    color: white;
    font-size: 35px;
    font-weight: 600;
    font-family: Arial, Helvetica, sans-serif;
}

p {
    color: white;
    font-size: 28px;
    line-height: 1.2;
    font-family: Arial, Helvetica, sans-serif;
}


article p{
    font-size: 28px;
    padding: 25px;
    color: black;
    font-family: Arial, Helvetica, sans-serif;
}

.container{
    width: 100%;
    margin: auto;
    padding-top: 4%;
    padding-bottom: 4%;
}

.row{
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    align-items: center;
}

.row::after{
    display: table;
    clear: both;
    content: "";
}

.col-1{width: 8.33%}
.col-2{width: 16.66%}
.col-3{width: 25%}
.col-4{width: 33.33%}
.col-5{width: 41.66%}
.col-6{width: 50%}
.col-7{width: 58.33%}
.col-8{width: 66.66%}
.col-9{width: 75%}
.col-10{width: 83.33%}
.col-11{width: 91.66%}
.col-12{width: 100%}

*{
    box-sizing: border-box;
}


/* --------- Nav Bar------------ */

nav {
    width: 100%;
    margin: 0;
}

nav ul {
    background-color: #eeee;
    overflow: hidden;
    margin: 0;
    padding: 0;
}

ul.topnav li{
    list-style: none;
    float: left;
}

ul.topnav li.topnav-right{
    list-style: none;
    float: right;
}

ul.topnav li a {
    display: block;
    text-decoration: none;
    min-height: 16px;
    text-align: center;
    padding: 15px;
    text-transform: uppercase;
    color: #777;
    font-family: Arial, Helvetica, sans-serif;
}

ul.topnav li a:hover{
    background-image: linear-gradient(#0f2027, #203a43, #2c5364);
    color: whitesmoke;
}

ul.topnav li.dropdownIcon{
    display: none;
}

/* --------custom Styles-------*/

#section-1-gradient{
    background: #2c5364;
    background-image: linear-gradient(#0f2027, #203a43, #2c5364);
}

div.box{
    text-align: center;
    margin: 25px;
    padding: 35px 25px 40px 25px;
    border-radius: 7px;
    background-image: linear-gradient(#2c5364, #203a43, #0f2027);
    box-shadow: 4px 5px 5px 0px rgba(0,0,0,0.67);
}

div.icon{
    width: 100%;
}

div.codingicon img{
    display: block;
    margin: auto;
    border-radius: 10px;
    box-shadow: 4px 5px 5px 0px rgba(0/*Sh*/,0/*Bg*/,0/*Bc*/,0.67/*Op*/);
}

button{
    font-size: 25px;
    font-weight: 600;
    color: whitesmoke;
    background-image: linear-gradient(#2c5364, #203a43, #0f2027);
    border-style: none;
    border-radius: 30px;
    padding: 15px 60px;
    display: block;
    text-align: center;
    margin: 5px;
}

button.learnmore{
    display: block;
    margin: auto;
    margin-top: 20px;
}

.leftside-col{
    margin-left: 30%;
    font-family: Arial, Helvetica, sans-serif;
}

.rightside-col{
    margin-left: 15%;
}

h1.large{
    color: whitesmoke;
    font-size: 56px;
    margin: 0;
    line-height: 70px;
}

h1.section2header{
    font-size: 65px;
    text-align: center;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 72px;
    background: -webkit-linear-gradient(right, #2c5364, #0f2027);
    background-clip: text;
    -webkit-text-fill-color: transparent;
}


form h2{
    color: whitesmoke;
    font-family: Arial, Helvetica, sans-serif;

}

input[type="text"]{
    font-size: 20px;
    width: 400px;
    min-width: 100px;
    padding: 5px;
    border-radius: 10px;
    border: none;
}

footer.footsy{
    background-color: #0f2027;
    padding-left: 10%;
}

footer.footsy h1{
    font-family: Arial, Helvetica, sans-serif;
    color: #eeee;
}

footer.footsy ul {
    list-style: none;
    text-align: left;
    padding-left: 0;
}

footer.footsy ul li{
    color: white;
    font-size: 22px;
    line-height: 1.6;
    font-family: Arial, Helvetica, sans-serif;
}

footer.footsy ul li a{
    text-decoration: none;
    color: #eeee;
}



/* --------- Mobile ------------ */

@media screen and (max-width: 680px){
    ul.topnav li:not(:nth-child(1)) {
        display: none;
    }
    ul.topnav li.dropdownIcon {
        display: block;
        float: right;
    }

    ul.topnav.responsive li.dropdownIcon {
        position: absolute;
        top: 0;
        right: 0;
    }

    ul.topnav.responsive {
        position: relative;
        
    }
    
    ul.topnav.responsive li {
        display: inline;
        float: none;
    }

    ul.topnav.responsive li a {
        display: block;
        text-align: left;
    }

    h1.section2header{
        font-size: 40px;
    }

    article p {
        font-size: 20px;
    }

    .col-7,
    .col-5,
    .col-6,
    .col-4{
        width: 100%;
        margin: 0;
    }

    div.mobilecomp{
        width: 100%;
        display: block;
    }

    div.box{
        padding: 5px;
        display: block;
    }

    div.codingicon {
        margin: 10px;
    }

    div.codingicon img{
        width: 100%;
        height: 150px;
    }

    div.leftside-col,
    div.rightside-col{
        margin: 15px;    
    }
    input[type="text"]{
        width: 100%;
        width: 250px;
    }

    .videocontainer iframe {
       position: relative;
       width: 100%; 
       margin: 0;
       overflow: hidden;
    }

    button{
        font-size: 15px;
        font-weight: 600;
        color: whitesmoke;
        background-image: linear-gradient(#2c5364, #203a43, #0f2027);
        border-style: none;
        border-radius: 30px;
        padding: 15px 32px;
        display: block;
        text-align: center;
        margin: 5px;
    }
}

